<html ng-app="chat">
<head>
	<title>True Chat</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
</head>
<body ng-controller="MainCtl">
	<div class="jumbotron">
		<h1>True Chat</h1>
	</div>

	<ul>
		<li ng-repeat="m in messages track by $index">{{m.username}} : {{m.message}}</li>
	</ul>
	
	<input type="text" placeholder="type here" ng-model="msg" ng-enter="send()" style="margin-left: 1cm; height: 50px; width: 80%;"/><button class="btn btn-primary" ng-click="send()" style="margin-left: 1cm; height: 50px; width: 100px;">Send</button>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.3/angular.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.1/angular-cookies.min.js"></script>
<script src="app.js"></script>

</body>
</html>
